<p id="notice"><%= notice %></p>

<h1>Posts</h1>
<%= link_to 'New Post', new_post_path %>

<% @posts.each do |post| %>
  <div class="post">
    <h3><%= post.name %></h3>

    <hr />

    <p>
      <%= post.description %>
    </p>

    <hr />

    <%= link_to 'Show', post %>
    <%= link_to 'Edit', edit_post_path(post) %>
    <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>
